{% extends "news/layout.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section>
    <div class="d-flex justify-content-center pt-4 pb-1">
        <h1>About Me</h1>
    </div>
    <div class="row">
        <div>
            <div class="d-flex justify-content-start pt-4 pb-1">
                <div class="d-flex col">
                    <div class="card mb-3">
                        <img
                                src="https://scontent-los2-1.xx.fbcdn.net/v/t1.6435-9/119063442_10207884401824129_4877306585334093081_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=aoDCXlPl8Z0AX8IuFwp&_nc_ht=scontent-los2-1.xx&oh=00_AT917E9ANgvRuGEPtXePzQ3t_F1IURytCPyQlbyquiXVTA&oe=61DB74DB"
                                width="200"
                                height="200"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-start pt-4 pb-1">
            <h1>Lutor Iyornumbe</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-start pb-4">
            <div class="col">
                <h2>Back End Developer, Systems Analyst, & Aspiring Video Game Developer</h2>
                <div class="row ">
                    <div class="col-6 col-lg-6">
                        <span class="badge bg-success">
                            Django
                        </span>
                        <span class="badge bg-primary">
                            Node
                        </span>
                        <span class="badge bg-info">
                            .NET
                        </span>
                        <span class="badge bg-success">
                            Flask
                        </span>
                        <span class="badge bg-danger">
                            Laravel
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Hello there friend. My name is Lutor, I am a software developer and automation engineer with over two years experience and I am interested in the above position at your company.
                Beside the regular expectations of a backend developer, I am also good at technical support and teaching younger developers the ropes of software development from local to production environment.

                A few projects I have worked on that are still online include:
            </p>
            <ul>
                <li>
                    <a href="https://www.efskyview.com">EFSkyview</a>
                </li>
                 <li>
                     <a href="https://www.christfamilyministries.org">Christ Family Ministries</a>
                </li>
                <li>
                    <a href="https://wordshop.christfamilyministries.org">Wordshop</a>
                </li>
                 <li>
                     <a href="https://www.portal-gbokopoly.org/">Gboko Poly</a>
                </li>
                 <li>
                     <a href="https://www.efcontact.com">EFContact</a>
                </li>
            </ul>



            <p>
                Due to my experience, I have a lot of themes and tools for quick scaffolding and implementation of dashboards, authentication, paystack/flutterwave integration as well as SAAS products.

                I have been in the industry over two years, and my experience will add technical and financial value to your company.

                Here is my <a href="https://www.github.com/lexxluey">github</a> repo for your reference

            </p>
        </div>
    </div>
        <div class="row">
        <div class="col">
            <p>Personally, I enjoy hip hop music, action rpg games, fighting games, football and robotics.</p>
            <p>I also enjoy having cookouts and family dinners with lots of entertainment and games.</p>
        </div>
    </div>

</section>

{% endblock %}
